
@import "compass/css3";
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Architects+Daughter|Chelsea+Market');
html {
  background-image: url("img/action2.jpg");
  height:100%;
  margin:0;
  padding:0;
  position:relative;
  background-size:cover;
  overflow:auto;
    }



h1 {

  color: black;
font-family: 'Architects Daughter', cursive;
  font-size: 125px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  }

.rand {
  color: white;

}

.clear {
  padding-top: 25px;
}

#para {
  color: black;
font-family: 'Architects Daughter', cursive;
  font-size: 55px;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding-top: 30px;

}
.email {
  background-color: black;
  width: 500px;
  height: 30px;
  color: white;
font-family: 'Architects Daughter', cursive;
  font-size: 25px;
  text-align: center;
}

#butt {
  font-size: 30px;
  color: white;
  padding: 5px 20px;
  background-color: black;
font-family: 'Architects Daughter', cursive;
}

#label {
  color: white;
font-family: 'Architects Daughter', cursive;
  font-size: 35px;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

form {
  text-align: center;
}

.pad {
  padding-top: 50px;
}

body {
   margin: 0px;
   padding: 0px;
   overflow: hidden;
}
